@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

#swiperSec .swiper-button-next, #swiperSec .swiper-button-prev {
  display: none;
} 
#swiperSec .swiper-pagination-bullet{
  @apply !bg-white !opacity-100
}
#swiperSec .swiper-pagination-bullet-active{
  @apply !bg-purple-300 !opacity-100
}
#slider .swiper-pagination-bullet{
  @apply !bg-white !opacity-100
}
#slider .swiper-pagination-bullet-active{
  @apply !bg-purple-300 !opacity-100 !w-6 !rounded-md
}